.DS_Store

emacs/.emacs.d/elpa/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/var/
emacs/.emacs.d/etc/
emacs/.emacs.d/.cache/
emacs/.emacs.d/*~
emacs/.emacs.d/.#*
emacs/.emacs.d/#*#
emacs/.emacs.d/.last-package-update-day

# Emacs native compilation cache
emacs/.emacs.d/eln-cache/
